API_ID=1234567        # Ganti dengan API ID dari my.telegram.org
API_HASH=abcdefg...   # Ganti dengan API Hash dari my.telegram.org
BOT_TOKEN=12345:abc.. # Ganti dengan Token Bot dari @BotFather
MONGO_URL=mongodb+srv://... # URL MongoDB Atlas kamu
MAIN_CHANNEL_ID=-100xxxxxx  # ID Channel Utama (Wajib pakai -100)
OWNER_ID=123456789    # ID Telegram kamu selaku Owner Bot
